@model CET96_ProjetoFinal.web.Entities.Unit

@{
    ViewData["Title"] = "Deactivate Unit";
}

<h1>Deactivate Unit</h1>
<h3>Are you sure you want to deactivate this unit?</h3>
<div>
    <h4>@Model.UnitNumber</h4>
    <hr />
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Deactivate" class="btn btn-danger" /> 
        <a asp-action="Index" asp-route-condominiumId="@Model.CondominiumId" class="btn btn-secondary">Back to List</a>
    </form>
</div>