@model CET96_ProjetoFinal.web.Entities.ApplicationUser

@{
    ViewData["Title"] = "Manage Account";
}

<h1>Manage Your Account</h1>
<hr />

@* @if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}
 *@
<h4>Hello, @Model.FirstName!</h4>

<div class="mt-4">
    <p>From here you can manage your account settings.</p>
    <a class="btn btn-secondary" asp-action="ChangePassword">Change Password</a>
    <a class="btn btn-primary" asp-action="EditAccount" asp-route-id="@Model.Id">Edit Profile</a>
@*     @if (User.IsInRole("Platform Administrator"))
    {
        <h5 class="text-danger mt-5">Danger Zone</h5>
        <hr />
        <p>Deactivating your account is a permanent action. You will not be able to log in again.</p>
        <a asp-action="DeactivateMyAccount" class="btn btn-danger">Deactivate My Account</a>
    }
 *@
</div>