@{
    ViewData["Title"] = "Email Confirmed";
}

<div class="text-center" style="padding-top: 80px;">
    <h1 class="display-4">Email Confirmed</h1>
    <p class="lead">Thank you for confirming the email. The account is now active.</p>
    <p>This page can now be safely closed.</p>
    <hr />
    <a asp-controller="Account" asp-action="Login" class="btn btn-primary btn-lg">Go to Main Login Page</a>
</div>