@model CET96_ProjetoFinal.web.Models.EditAccountViewModel

@{
    ViewData["Title"] = "Edit Account";
}

<h1>@ViewData["Title"]</h1>
<h4>Update your personal information.</h4>
<hr />

<div class="row">
    <div class="col-md-6">
        <form asp-action="EditAccount">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @* The user's ID is hidden, but sent with the form *@
            <input type="hidden" asp-for="Id" />

            <div class="form-group mb-3">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-group mt-4">
                <button type="submit" class="btn btn-primary">Save Changes</button>
                @if (User.IsInRole("Platform Administrator"))
                {
                    <a asp-controller="PlatformAdmin" asp-action="UserManager" class="btn btn-secondary">Cancel</a>
                }
                else
                {
                    @* This is the old link, for other roles like Company Administrator *@
                    <a asp-controller="Account" asp-action="AllUsersByCompany" asp-route-id="@Model.CompanyId" class="btn btn-secondary">Cancel</a>
                }
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
