@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    If an account with that email exists, we have sent an email with instructions to reset your password.
</p>