@{
    ViewData["Title"] = "No Unit Assigned";
}
<div class="text-center">
    <h1 class="display-4">Welcome, Owner</h1>
    <hr />
    <div class="alert alert-info mt-4">
        You are not currently assigned to a unit. Please contact your condominium manager.
    </div>
</div>