<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<handlers>
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		</handlers>
		<aspNetCore processPath="dotnet" arguments="CET96_ProjetoFinal.web.dll" stdoutLogEnabled="false">
			<environmentVariables>
				<add name="ASPNETCORE_ENVIRONMENT" value="Production" />
				<add name="ConnectionStrings:ApplicationUserConnection" value="Server=sql6031.site4now.net;Database=db_ab9495_precondomngappuser;User ID=db_ab9495_precondomngappuser_admin;Password=xt600e@MXA;TrustServerCertificate=True;MultipleActiveResultSets=True;" />
				<add name="ConnectionStrings:CondominiumConnection" value="Server=sql6031.site4now.net;Database=db_ab9495_precondomngcondmng;User ID=db_ab9495_precondomngcondmng_admin;Password=xt600e@MXA;TrustServerCertificate=True;MultipleActiveResultSets=True;" />
			</environmentVariables>
		</aspNetCore>
	</system.webServer>
</configuration>
